.news-grid {
    display: flex;
    margin: auto;
    width: 90%;
    flex-flow: row wrap;
    border: solid 1px red;
    grid-gap: 1rem;
    font-size: 2rem;
    color: white;
}

.news-grid>* {
    margin: auto;
    width: 30rem;
    height: 20rem;
    max-width: 30rem;
    max-height: 20rem;
    text-align: center;
    /*background-color: #d32f2f;*/
    background-color: steelblue;
    border-radius: 10px;
}

.news-grid>*:hover {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    box-shadow: 2px 2px 7px 1px rgba(0,0,0,.8);
}

.post-url {
    overflow: hidden;
    box-shadow: black;
}

.img {
    width: 100%;
    height: 12rem;
    object-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.title-section {
    padding: .2rem;
}

.title {
    font-family: "Agency FB";
    margin-top: -12px;
    text-align: left;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: bold;
    color: white;
}

.date-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
}

.date {
    color: #9CA38F;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.link {
    border: 1px solid #d32f2f;
    border-spacing: 1px;
    font-size: 1rem;
    color: #d32f2f;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    transition-duration: 200ms;
    text-decoration: none;
}

.link:hover {
    color: white;
}