.slide.animateIn,
.slide.animateOut {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.slide.animateIn.previous,
.slide.animateIn.next {
    left: 0;
    visibility: visible;
}

.slide.animateOut.previous {
    left: 100%;
}

.slide.animateOut.next {
    left: -100%;
}

.slide h1 {
    transition: all 0.3s ease;
    transform: translateY(-20px);
    opacity: 0;
}

.slide .date {
    transition: all 0.3s ease;
    transform: translateY(20px);
    opacity: 0;
}

.slide .author {
    transition: all 0.3s ease;
    transform: translateY(10px);
    opacity: 0;
}

.slide strong {
    transition: all 0.3s ease;
    transform: translateY(-10px);
    opacity: 0;
}

.slide .button {
    transition: all 0.3s ease;
    transform: translateY(10px);
    opacity: 0;
}

.slide.animateIn.previous .button,
.slide.current .button,
.slide.animateIn.next .button {
    transform: translateX(0);
    transition-delay: 2s;
    opacity: 1;
}

.slide.animateIn.previous .author,
.slide.current .author,
.slide.animateIn.next .author {
    transform: translateX(0);
    transition-delay: 1.4s;
    opacity: 1;
}

.slide.animateIn.previous strong,
.slide.current strong,
.slide.animateIn.next strong {
    transform: translateX(0);
    transition-delay: 1.5s;
    opacity: 1;
}

.slide.animateIn.previous h1,
.slide.current h1,
.slide.animateIn.next h1,
.slide.animateIn.previous .date,
.slide.current .date,
.slide.animateIn.next .date {
    transform: translateX(0);
    transition-delay: .9s;
    opacity: 1;
}

.slide.animateOut h1 {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}